src/mtex2MML.bundle
src/mtex2MML_ruby.c
src/*.o
src/lex.yy.c
src/y.output
src/y.tab.c
src/y.tab.h
src/mtex2MML
src/y.tab.o
src/*.so

ext/Makefile
ext/*.o
ext/*.h
ext/*.c
ext/*.bundle
ext/*.so

lib/mtex2MML.bundle

test.html
