src/itex2MML.bundle
src/itex2MML_ruby.c
src/*.o
src/lex.yy.c
src/y.output
src/y.tab.c
src/y.tab.h
src/itex2MML
src/y.tab.o

ext/Makefile
ext/*.o
ext/*.h
ext/*.c
ext/*.bundle

lib/itex2MML.bundle

test.html
