*.o
*.so

lib/ # need this for mathematical

src/lex.yy.c
src/y.output
src/y.tab.c
src/y.tab.h
src/y.tab.o
src/libefence.a

tests/test.html
tests/clar.suite
tests/clar.suite.rule
tests/.clarcache
tests/testrunner
tests/mathjax_summary.txt
tests/testrunner.dSYM/
file.test

dist/
