name: Test

on:
  workflow_dispatch:
  pull_request_target:

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        name: Install *nix dependencies
        run: script/bootstrap

      - if: matrix.os == 'windows-latest'
        name: Install Windows dependencies
        run: |
          choco install winflexbison -y --force

      - if: matrix.os == 'windows-latest'
        name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1.3.1

      - if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        name: Run *nix tests
        run: script/cibuild

      - if: matrix.os == 'windows-latest'
        name: Run Windows tests
        run: |
          mkdir build
          cmake . -Bbuild -G "Visual Studio 17 2022"
          msbuild /p:Configuration=Release build/mtex2MML.sln
          cd build
          ctest -V
